@model PhoneOnlineWeb.Models.User
@{
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div id="form-register">
    @using (Html.BeginForm("Authen", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table>
            <tr class="title-form">
                <th colspan="2">Đăng Nhập</th>
            </tr>

            <tr>
                <td>Email</td>
                <td>@Html.TextBoxFor(m => m.Email, new { style = "width:100%" })</td>
            </tr>
            <tr>
                <td colspan="2">@Html.ValidationMessageFor(m => m.Email)</td>
            </tr>

            <tr>
                <td>Mật khẩu</td>
                <td>@Html.PasswordFor(m => m.Password)</td>
            </tr>
            <tr>
                <td colspan="2">@Html.ValidationMessageFor(m => m.Password)</td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="field-validation-error">
                        @Html.DisplayFor(m => m.LoginErrorMessage)
                    </label>
                </td>
            </tr>

            <tr>
                <td>
                </td>
                <td>
                    <input class="btn btn-primary" type="submit" value="Đăng nhập" />
                    <a class="btn btn-primary" href="@Url.Action("Register","Login")">Đăng ký</a>
                </td>
            </tr>
        </table>
    }
</div>
